* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  font-family: Arial, Helvetica, sans-serif;
  color: #f3efe7;

  background:
    linear-gradient(
      rgba(5, 5, 5, 0.75),
      rgba(5, 5, 5, 0.75)
    ),
    url("collectivelogo1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  width: 100%;
  max-width: 420px;

  padding: 40px;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(16px);

  border: 1px solid rgba(255,255,255,0.08);
}

.logo {
  width: 180px;
  margin-bottom: 40px;
}

h1 {
  font-size: 42px;
  letter-spacing: -2px;
  margin-bottom: 40px;
}

form {
  display: grid;
  gap: 20px;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  color: #f3efe7;
  padding: 18px 0;
  font-size: 16px;
  outline: none;
}

button {
  margin-top: 15px;
  padding: 16px;
  background: #f3efe7;
  color: #050505;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

.back-link {
  display: inline-block;
  margin-top: 35px;
  color: #9b948a;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
